@model InventoryClient.Models.Product

@{
    ViewBag.Title = "Edit Product";
}

<h2>Edit Product</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.id)

    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.description)
        @Html.TextAreaFor(m => m.description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.quantity)
        @Html.TextBoxFor(m => m.quantity, new { @class = "form-control", type = "number" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.price)
        @Html.TextBoxFor(m => m.price, new { @class = "form-control", type = "number", step = "0.01" })
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Update</button>
    <br />
    <br />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}
